*
  box-sizing: border-box

img
  max-width: 100%

body
  background-color: #222831
  +main_reg

input
  outline: none

.container
  max-width: 1240px
  margin: auto

.section
  &__title
    margin: 0
    color: #fff
    font-size: 32px
    +main_semibold

.btn
  +main_bold
  padding: 17px 50px
  background-color: 
  border: none
  border-radius: 40px
  background-color: $main-color
  color: #fff

.form
  &__point
    display: flex
    align-items: center
  &__radio
    display: none
  &__label
    position: relative
    padding-left: 40px
    &::before
      content: ''
      display: inline-block
      position: absolute
      top: -5px
      left: 0
      width: 25px
      height: 25px
      background: url('../img/booking/radio-off.svg') 0 0 no-repeat
  &__select
    margin-right: 25px
    border: none
    color: $main-color
    +main_reg
    &:last-child
      margin-right: 0
    &:focus
      outline: none
  &__option
    border: none
  &__input
    padding: 12px 64px
    border: .5px solid #000
    border-radius: 10px

.form__radio:checked + .form__label::before
  background: url('../img/booking/radio-on.svg') 0 0 no-repeat

.hide
  display: none

.show
  display: block

.animated
  animation: pullDown 0.5s ease-out 1 forwards
  transform-origin: 50% 0%
  

@media (min-width: 769px)
  .btn
    &:hover
      cursor: pointer
  